
<ion-view view-title="报销单">
    <ion-nav-buttons side="right">
        <button class="button button-clear button-icon ion-plus btn-add" ng-click="addDoc()"></button>
    </ion-nav-buttons>
	<ion-content>
        <ion-list class="doc-list">
            <ion-item ng-repeat="doc in data.docs" ng-click="editDoc(doc)">
                {{ doc.DocNo }}
                <ion-option-button class="button-assertive" ng-click="deleteDoc($index)">删除</ion-option-button>
            </ion-item>
        </ion-list>
        </label>
    </ion-content>
</ion-view>
