<ion-view view-title="{{data.title}}" class="operate-view">
    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="saveAccount()">保存</button>
    </ion-nav-buttons>
    <ion-content delegate-handle="operateScroll">
        <v-accordion class="vAccordion--default doc-accordion" multiple>
            <v-pane expanded>
                <v-pane-header>基本信息</v-pane-header>
                <v-pane-content>
                    <label class="item item-input item-icon-right">
                        <i class="icon ion-ios-medical required-mark-icon"></i>
                        <span class="input-label">单据类型</span>
                        <input type="text" placeholder="请选择单据类型" ng-model="data.doc.DocumentType"
                            mobiscroll-select="selectSetting" mobiscroll-data="data.DocumentType">
                        <i class="icon ion-ios-arrow-right"></i>
                    </label>
                    <label class="item item-input">
                        <i class="icon ion-ios-medical required-mark-icon"></i>
                        <span class="input-label">报销总金额</span>
                        <span>CNY</span>
                        <span>{{data.doc.Money}}</span>
                    </label>
                    <label class="item item-input item-icon-right">
                        <i class="icon ion-ios-medical required-mark-icon"></i>
                        <span class="input-label">报销日期</span>
                        <input type="text" placeholder="请选择日期" ng-model="data.doc.ReimburseDate" mobiscroll-date="datePick">
                        <i class="icon ion-ios-arrow-right"></i>
                    </label>
                    <label class="item item-input item-icon-right" ng-click="selectReimburseUser(data.doc)">
                        <i class="icon ion-ios-medical required-mark-icon"></i>
                        <span class="input-label">报销人</span>
                        <input type="text" placeholder="请选择报销人" ng-model="data.doc.ReimburseUser.Name" readonly="true">
                        <i class="icon ion-ios-arrow-right"></i>
                    </label>
                    <label class="item item-input item-icon-right" ng-click="selectDepartment(data.doc)">
                        <i class="icon ion-ios-medical required-mark-icon"></i>
                        <span class="input-label">报销部门</span>
                        <input type="text" placeholder="请选择报销部门" ng-model="data.doc.Department.Name" readonly="true">
                        <i class="icon ion-ios-arrow-right"></i>
                    </label>
                    <label class="item item-input item-icon-right" ng-click="selectProject(data.doc)">
                        <span class="input-label">项目</span>
                        <input type="text" placeholder="请选择项目" ng-model="data.doc.Project.Name" readonly="true">
                        <i class="icon ion-ios-arrow-right"></i>
                    </label>
                    <label class="item item-input item-icon-right" ng-click="selectBondCustomer(data.doc)">
                        <span class="input-label">保证金客户</span>
                        <input type="text" placeholder="请选择保证金客户" ng-model="data.doc.BondCustomer.Name" readonly="true">
                        <i class="icon ion-ios-arrow-right"></i>
                    </label>
                    <label class="item item-textarea-input" ng-click="inputUse(data.doc)">
                        <span class="input-label">用途</span>
                        <textarea placeholder="请输入用途" ng-model="data.doc.Remark" readonly="true"></textarea>
                    </label>
                </v-pane-content>
            </v-pane>
            <v-pane ng-repeat="exp in data.doc.ReimburseBillDetails" expanded="exp.isExpanded">
                <v-pane-header>
                    {{ '费用明细' + ($index + 1) }}
                    <i class="icon ion-ios-trash-outline delete-exp-icon" ng-click="deleteExpence($index, $event)"></i>
                </v-pane-header>
                <v-pane-content>
                    <label class="item item-input item-icon-right" ng-click="selectCostProject(exp)">
                        <i class="icon ion-ios-medical required-mark-icon"></i>
                        <span class="input-label">费用项目</span>
                        <input type="text" placeholder="请选择费用项目" ng-model="exp.CostProject.Name" readonly="true">
                        <i class="icon ion-ios-arrow-right"></i>
                    </label>
                    <label class="item item-input item-icon-right prefix-input">
                        <i class="icon ion-ios-medical required-mark-icon"></i>
                        <span class="input-label">发票金额</span>
                        <span class="prefix">CNY</span>
                        <input type="number" ng-model="exp.Money" mobiscroll-numpad="numPad" placeholder="请输入发票金额" />
                        <i class="icon ion-ios-arrow-right"></i>
                    </label>
                    <label class="item item-input item-icon-right" ng-click="selectPerson(exp)">
                        <span class="input-label">列支人员</span>
                        <input type="text" placeholder="请选择列支人员" ng-model="exp.Person.Name" readonly="true">
                        <i class="icon ion-ios-arrow-right"></i>
                    </label>
                    <label class="item item-input item-icon-right" ng-click="selectExpenditureDepartment(exp)">
                        <span class="input-label">列支部门</span>
                        <input type="text" placeholder="请选择列支部门" ng-model="exp.Department.Name" readonly="true">
                        <i class="icon ion-ios-arrow-right"></i>
                    </label>
                    <label class="item item-input item-icon-right" ng-click="selectProject(exp)">
                        <span class="input-label">项目</span>
                        <input type="text" placeholder="请选择项目" ng-model="exp.Project.Name" readonly="true">
                        <i class="icon ion-ios-arrow-right"></i>
                    </label>
                    <label class="item item-textarea-input" ng-click="inputReason(exp)">
                        <span class="input-label">事由</span>
                        <textarea placeholder="请输入事由" ng-model="exp.Remark" readonly="true"></textarea>
                    </label>
                </v-pane-content>
            </v-pane>
        </v-accordion>
    </ion-content>
    <ion-footer-bar>
        <button class="button button-clear button-full" ng-click="addExpence()">新增费用</button>
    </ion-footer-bar>
</ion-view>
